.inputTask {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-top: -26px;
}

.inputTask input {
  background: var(--gray-500);
  border: 1px solid var(--gray-700);
  width: 44.3%;
  padding: 1rem;
  border-radius: 8px;
}

.inputTask button {
  background: var(--blue-dark);
  font-weight: bold;
  border-radius: 8px;
  border: none;
  padding: 1rem;
  color: var(--gray-100);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.containerTasks {
  margin-top: 4rem;
  margin-inline: 31rem;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1.5rem;
}

.info p {
  color: var(--purple);
  font-weight: bold;
}

.info p:first-child {
  color: var(--blue);
}

.info span {
  background: var(--gray-400);
  color: var(--gray-200);
  margin-left: 0.5rem;
  padding: 2px 8px;
  border-radius: 99px;
}

.tasksList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .75rem;
  margin-inline: 20rem;
}

.tasksContainer {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--gray-300);
  font-weight: bold;
  border-top: 1px solid var(--gray-400);
  border-radius: 8px;
  margin-inline: 30rem;
}

.tasksContainer svg {
  color: var(--gray-400);
  margin-top: 4rem;
  margin-bottom: 1rem;
}

.tasksContainer span {
  font-weight: normal;
}